<% layout('/layouts/boilerplate') %>

<h1><%= category %> Posts</h1>
<a href="/posts/new" class="btn btn-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">Create a post</a>
<div class="row row-cols-1 row-cols-md-auto g-4 mt-3">
	<% for (let post of posts) { %>
	<div class="col">
		<a href="/posts/<%= post.id %>" class="card" style="width: 26rem;">
			<div class="card-body">
				<h5 class="card-title"><%= post.title %></h5>
				<div class="d-flex justify-content-end">
					<h6><%= post.game_name %></h6>
					</p>
				</div>
			</div>
			<img src="<%= post.image_url %>" class="card-img-bottom" alt="..." />
		</a>
	</div>
	<% } %>
</div>