<% layout('/layouts/boilerplate') %>

<div class="container">
	<div class="row">
		<div class="col-12 border">
			<h1><%=post.title%></h1>
			<img src="<%=post.image_url%>" class="img-fluid" />
			<div class="mt-2">
				<p><%=post.content%></p>
				<div class="d-flex justify-content-end">
					<p>Category: &nbsp;</p>
					<a href="/posts/categories/<%= post.category %>"><%= post.category %> </a>
				</div>
			</div>
			<% if (currentUser && post.author_username === currentUser.username) {%>
			<form class="d-inline" action="/posts/<%=post.id%>/edit">
				<button class="btn btn-info">Edit</button>
			</form>
			<form class="d-inline" action="/posts/<%=post.id%>?_method=DELETE" method="POST">
				<button class="btn btn-danger">Delete</button>
			</form>
			<% } %> 
		</div>

	</div>
</div>